{{#partial "content"}}

    <div class="container" id="displaySquad">
        <h1 id="ListOfSquadsCreated"> List of Squads Created</h1>
        {{#each sightingInstance}}
            Name: {{rangerName}}<br>
            Cause: {{rangerEmail}}<br>

            {{location}}
            {{animal_id}}


            <br>
            <a href="/heroes/{{id}}" width="5px" height="5px">Update Squad</a><br>
            <a href="/squad-store/{{id}}" width="5px" height="5px">Delete Squad</a>

            <br>
            <br>
            <br>
        {{/each}}
    </div>


    <!--should have single quotes-->




{{/partial}}

{{> layout.hbs}}